<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <style>
    .titleNav{
      font-size: 20px;
    }
  </style>

    <title>StartLiftCU</title>


  </head>
  <body style="background-color: #add8e6; font-family: Tahoma;">


  <div class = "container">
    <div class="row">
      <div class="col-md-3 titleNav">
        <a href="/">StartLiftCU</a>
      </div>
    
      <div class = "col-md-3 lessonNav">
        <a href="/lesson">Lessons</a>
      </div>
      <div class = "col-md-3 quizNav">
        <a href="/quiz">Quiz</a>
      </div>
      <div class = "col-md-3 etcNav">
        <a href="/">???</a>
      </div>
    </div>
  </div> 
  

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




